/****************CSS RESET*******************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************/

body{
    padding: 0;
    margin: 0;
    background-color: #f4f5f6;
	color: #333;
	font-size: 13px;
	line-height: 20px;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

#navscroll {
	position: relative;
	margin: auto;
	background-color: #f72210;
	color: #fff;
	padding: 50px 0px 10px 0px;
	max-width: 1310px;
	transition: all 0.1s;
}

#navbottom {
	position: relative;
	top: 95px;
	max-width: 1310px;
	margin: auto;
}

.logoimg {
	position: absolute;
	width: 400px;
	height: 65px;
	transform: translate(-50%, 0);
	top: 15px;
	left: 50%;
}

.logoimg > img {
	width: 100%;
}

.datenav {
	position: relative;
	margin-left: 20px;
    font-size: 16px;
    font-family: "Roboto Condensed",sans-serif;
    box-sizing: border-box;
}

#signin {
	margin-right: 20px;
	font-size: 18px;
	font-weight: 600;
	position: relative;
	bottom: 10px;
}

#signin a {
	text-decoration: none;
	color: #f72210;
	background-color: #fff;
	padding: 8px;
}


.fa-chevron-right {
	padding-right: 10px;
	padding-left: 10px;
	z-index: 9999;
}

#signin span {
	padding-right: 10px;
}

.fa-bars {
	position: absolute;
	top: 0;
	right: -10px;
	width: 16px;
	padding: 10px;
	color: #f72210;
	z-index: 9999;
}

.header-bottom {
	color: #000;
	height: 50px;
	padding: 10px 0px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
}

.page-nav {
	display: inline-flex;
	font-size: 21px;
	line-height: 24px;
	font-weight: 700;
	list-style: none;
	margin: 0px;
    padding: 0px 54px 0px 0px;
}

.page-nav li {
	flex-grow: 1;
	text-align: center;
    border-left: 1px solid #d9d9d9;
    padding: 8px;
}

.page-nav > li > a {
	cursor: pointer;
}

.header-bottom::before {
	width: 66px;
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	background-color: #f72210;
	border-left: 12px solid #fff;
	border-top: 13px solid #f72210;
}

.page-nav > li > a:hover {
	color: #f72210 !important;
}

.page-nav :first-child,
.page-nav :last-child {
	border-width: 0px;
}

#search {
	color: #0000008c;
	cursor: text;
	font-size: 16px;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
}

.fa-search {
	padding-left: 10px;
	font-weight: 400;
}


